body{
    background: linear-gradient( #ed1d24, #000000 100%);
}
header{
    margin: auto;
    text-align: center;
}
section,main{
    margin: auto;
    text-align: center;
    color: #fff;
    
}
section div{
    display: inline-block;
    
}
.bloco-post{
    
    width: 40%;
    min-width: 400px;
    
    border-radius: 100px;
    background: linear-gradient(#fdfdfd, #020000 100%);
    margin: 10px;
    
    
}
.texto{
    width: 80%;
    margin: auto;
    font-size: 14pt;
}
 p{
    text-align: justify;
    
}
h1,h2{
   
}
a{
    text-decoration: none;
    color: #fff;
    width: 50px;
    padding: 5px;
    background: linear-gradient( #020000, #fdfdfd 100%);
    border-radius: 10px;
}
a:hover{
    
    background: linear-gradient(#fdfdfd, #020000 100%);
   
}
.bloco-post img{
    width: 100%;
    margin: auto;
   text-align: center;
   
  
   border: solid 5px;
   
   border-radius: 100px;
   max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.bloco-post img:hover{
    -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}